/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    /* font-size: 16px; */
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

/*-----------------------------подключение шрифтов------------------------------------*/

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial.eot") format("eot"),
        url("../../assets/fonts/arial.woff") format("woff"),
        url("../../assets/fonts/arial.woff2") format("woff2"),
        url("../../assets/fonts/arial.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial-italic.eot") format("eot"),
        url("../../assets/fonts/arial-italic.woff") format("woff"),
        url("../../assets/fonts/arial-italic.woff2") format("woff2"),
        url("../../assets/fonts/arial-italic.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/georgia.eot") format("eot"),
        url("../../assets/fonts/georgia.woff") format("woff"),
        url("../../assets/fonts/georgia.woff2") format("woff2"),
        url("../../assets/fonts/georgia.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/georgia-italic.eot") format("eot"),
        url("../../assets/fonts/georgia-italic.woff") format("woff"),
        url("../../assets/fonts/georgia-italic.woff2") format("woff2"),
        url("../../assets/fonts/georgia-italic.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/georgia-bold.eot") format("eot"),
        url("../../assets/fonts/georgia-bold.woff") format("woff"),
        url("../../assets/fonts/georgia-bold.woff2") format("woff2"),
        url("../../assets/fonts/georgia-bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icons';
    src: url('../../assets/fonts/icons.eot?ieyt73#iefix'),
        url('../../assets/fonts/icons.ttf?ieyt73') format('truetype'),
        url('../../assets/fonts/icons.woff?ieyt73') format('woff'),
        url('../../assets/fonts/icons.svg?ieyt73#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._icon-Arrow:before {
    content: "\e900";
}

._icon-credit-card:before {
    content: "\e901";
    font-size: 23px;
    padding-right: 14px;
    position: relative;
    top: 4px;
}

._icon-mail:before {
    content: "\e902";
    color: #f1cdb3;
    font-size: 26px;
    padding-right: 20px;
    position: relative;
    top: 4px;
}

._icon-phone:before {
    content: "\e903";
    color: #f1cdb3;
    font-size: 32px;
    padding-right: 13px;
    position: relative;
    top: 7px;
}

._icon-pin:before {
    content: "\e904";
    color: #f1cdb3;
    font-size: 32px;
    padding-right: 12px;
    position: relative;
    top: 18px;
}

._icon-Vector:before {
    content: "\e905";
}



/* ------------------------------------------------------------------------------------------------------------ */

body {
    font-family: Georgia;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    color: #C4C4C4;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: content-box;
}

@media (max-width: 1200px) {
    ._container {
        max-width: calc(708px + (1200 - 708) * ((100vw - 768px) / (1200 -768)));
        padding: 0 calc(30px + (40 - 30) * ((100vw - 768px) / (1200 -768)));
    }
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*-----------------------------header------------------------------------*/

.header {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    z-index: 4;
}

@media (max-width: 1200px) {
    .header {
        top: calc(30px + (60 - 30) * ((100vw - 768px) / (1200 - 768)));
    }
}


.header__container {
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
}

.logo__title {
    font-size: 32px;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    line-height: 110%;
}

.logo__subtitle {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 10px 0 0 5px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -2px;
}

.menu__item:nth-child(1) {
    margin-right: 36px;
}

.menu__item:nth-child(2) {
    margin-right: 35px;
}

.menu__item:nth-child(3) {
    margin-right: 37px;
}

.menu__link {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 160%;
    color: #CDCDCD;
    padding-bottom: 4px;
}

.menu__link_active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

/*-----------------------------main - start-screen------------------------------------*/

.main {
    flex: 1 1 auto;
}

.start-screen {
    width: 100%;
    min-height: 908px;
    background: url(../../assets/images/noise_transparent.png),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
        url(../../assets/images/start-screen-background.jpg) 0 0 / cover no-repeat;
    z-index: 2;
}

.start-screen__container {
    position: relative;
    width: 100%;
    min-height: 728px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 180px 0 0 0;
    z-index: 0;
}

@media (max-width: 1200px) {
    .start-screen__container {
        display: block;
        padding-top: calc(150px + (180 - 150) * ((100vw - 768px) / (1200 - 768)));
        min-height: calc(1015px + (1015 - 728) * ((100vw - 768px) / (1200 - 768)));
    }
}

.start-screen__сontent {
    max-width: 460px;
    height: 322px;
    z-index: 3;
    padding: 165px 0px 0 0px;
}

@media (max-width: 1200px) {
    .start-screen__сontent {
        padding: calc(0px + (165 - 0) * ((100vw - 768px) / (1200 -768)));
        margin: 0 auto;
        margin-bottom: 100px;
    }
}

.start-screen__сontent>*:not(:last-child) {}

.start-screen__title {
    width: 310px;
    height: 114px;
    margin: 0 0 40px 0;
}

.title {
    font-size: 2.75rem;
    line-height: 130%;
    color: #FFFFFF;
}

.start-screen__text {}

.text {
    font-family: 'Arial';
    line-height: 160%;
    color: #CDCDCD;
    margin-bottom: 57px;
}

.start-screen__button {}

.button {
    background: #F1CDB3;
    border-radius: 100px;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;
    font-size: 1.0625rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

@media (max-width: 1200px) {
    .start-screen__button {
        text-align: center;
    }
}

.start-screen-puppy {}

.start-screen-puppy img {
    height: 728px;
    width: auto;
    z-index: 3;
}

@media (max-width: 1200px) {
    .start-screen-puppy {}

    .start-screen-puppy img {
        position: absolute;
        bottom: 0;
        right: 0;
        height: calc(593px + (728 - 593) * ((100vw - 768px) / (1200 -768)));
    }
}


/*-----------------------------main - about------------------------------------*/

.about {
    min-height: 588px;
    background: #FFFFFF;
}

.about__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    min-height: 408px;
    padding: 80px 0 100px 0;
}

@media (max-width: 1200px) {
    .about__container {
        padding-top: calc(66px + (80 - 66) * ((100vw - 768px) / (1200 -768)));
    }
}

.about__pets {}

.about__content>*:not(:last-child) {
    margin: 0 0 25px 0;
}

.about__content {
    width: 430px;
    height: 380px;
    padding-top: 15px;
}

.about__title {
    width: 370px;
    height: 90px;
}

.title_dark {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.about__text {}

.text_dark {
    font-family: 'Arial';
    font-size: 15px;
    color: #4C4C4C;
    line-height: 160%;
}

@media (max-width: 1200px) {
    .about__pets {
        order: 2;
    }

    .about__content {
        order: 1;
        margin-bottom: 95px;
    }
}

/*-----------------------------main - our-friends------------------------------------*/

.our-friends {
    width: 100%;
    min-height: 877px;
    background: #F6F6F6;
}

.our-friends__container {}

.our-friends__content {
    height: 697px;
    padding: 80px 0 100px 0;
}

.our-friends__title {
    text-align: center;
    margin: 0 0 60px 0;
}

.our-friens__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    height: 435px;
    margin: 0 0 74px 0;
}

.our-friends__button {
    text-align: center;
}

/*-----------------------------main - help------------------------------------*/

.help {
    width: 100%;
    min-height: 611px;
    background: #FFFFFF;
}

.help__container {}

.help__content {
    min-height: 431px;
    padding: 80px 0 100px 0;
}

.help__title {
    text-align: center;
    margin: 0 0 60px 0;
}

.help__list {
    text-align: center;
}

.help__container {
    display: flex;
    flex: 0 1 20%;
    width: 100%;
    gap: 120px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 55px;
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 113px;
}

@media (max-width: 1200px) {
    .help__container {
        column-gap: calc(60px + (120 - 60) * ((100vw - 768px) / (1200 -768)));
        row-gap: 54px;
    }

    .card {
        width: 170px;
    }

}


.card__img {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}

.card__text {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

/*-----------------------------main - donation------------------------------------*/

.donation {
    background: #F6F6F6;
}

.donation__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 915px;
    min-height: 282px;
    padding: 90px 0 40px 0;
}

.donation__img {
    width: 505px;
    height: 261px;
}

.donation__content {
    flex: 0 0 380px;
    margin-top: -10px;
    margin-bottom: 4px;
}

@media (max-width: 1200px) {
    .donation__container {
        justify-content: center;
        padding-bottom: 100px;
    }

    .donation__content {
        order: 1;
        margin-top: -9px;
    }

    .donation__img {
        order: 2;
    }
}

.donation__content h5 {
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 25px;
}

.donation__title {
    width: 300px;
    height: 90px;
    margin-bottom: 20px;
}

.donation__credit-card {
    letter-spacing: 0.06em;
    background: #F1CDB3;
    border-radius: 9px;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    padding: 10px 15px 10px 16px;
}

.donation__text {
    margin-top: 30px;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
}

/*-----------------------------footer------------------------------------*/

.footer {
    width: 100%;
    background: url(../../assets/images/noise_transparent.png),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
        url(../../assets/images/start-screen-background.jpg) 0 0 / cover no-repeat;
    z-index: 2;
}

.footer__container {
    min-height: 310px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 1200px) {
    .footer__container{
        padding-top: 30px;
    }
}

.footer-content {
    padding-top: 16px;
}

@media (max-width: 1200px) {
    .footer-content{
        padding-top: 0;
        padding-left: 34px;
    }
    .footer-content_location{
        padding-left: 20px;
        margin-bottom: 31px;
    }
}

.questions {
    flex: 0 0 439px;
    min-width: 234px;
}

@media (max-width: 1200px) {
    .questions {
        flex: 0 0 50%;
    }
}

.footer a {
    color: #F1CDB3;
}

.questions__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin: 0 0 38px 0;
}

.questions__email {
    font-size: 20px;
    line-height: 115%;
    margin: 0 0 37px 0;
    letter-spacing: 0.06em;
}

.questions__tel {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.location {
    flex: 0 0 461px;
    min-width: 234px;
}

@media (max-width: 1200px) {
    .location {
        flex: 0 0 50%;
    }
}

.location__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin: 0 0 32px 0;
}

.location__city {
    position: relative;
    width: 300px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    padding-left: 40px;
    margin: 0 0 37px 0;
}

.location__city::before {
    content: '';
    width: 22px;
    height: 32px;
    position: absolute;
    top: 6px;
    left: 0px;
    background: url('../../assets/icons/icon-marker.svg') 0 0 no-repeat;
}

.location__city_london::before {
    position: absolute;
    top: -6px;
    left: 0px;
}

.footer__puppy {
    flex: 0 0 300px;

}

.footer__puppy img {
    z-index: 3;
}

